.find {
    overflow: hidden;
    position: relative;
    background: linear-gradient(0deg, rgba(6, 48, 83, 0.8), rgba(6, 48, 83, 0.8));
    // .find__container
    &__container {
        @include adaptiveValue("padding-top", 150, 70);
        @include adaptiveValue("padding-bottom", 150, 70);
    }
    // .find__body
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(32);
    }
    // .find__header
    &__header {
    }
    // .find__title
    &__title {
        color: #FFFFFF;
    }
    // .find__subtitle
    &__subtitle {
        color: #EDEFF6;
    }
    // .find__actions
    &__actions {

    }
    // .find__button
    &__button {
    }
    img {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.title {
    // .title__body
    &__body {
    }
}
.subtitle {
}
.button {
    // .button_transparent
    &_transparent {
    }
}
