.hero {
    background: linear-gradient(0deg, rgba(6, 48, 83, 0.6), rgba(6, 48, 83, 0.6)), url(@img/hero.jpg);
    background-size: cover;
    background-position: center;
    // .hero__container
    &__container {
    }
    // .hero__body
    &__body {
        @include adaptiveValue("padding-top", 250, 150);
        @include adaptiveValue("padding-bottom", 212, 200);
    }
    // .hero__title
    &__title {
        font-family: 'Public Sans';
        font-size: rem(52);
        line-height: rem(72); 
        color: #FFFFFF;
        margin-bottom: rem(28);
    }
    // .hero__subtitle
    &__subtitle {
        color: #EDEFF6;
    }
}