.search {
	// .search__container
	&__container {
		max-width: rem(1126);
	}
	// .search__actions
	&__actions {
	}
	// .search__inner
	&__inner {
		display: flex;
		gap: rem(10);
		flex-direction: column;
		position: relative;
		// z-index: 2;
		margin-top: -8.2rem;
	}
	// .search__buttons
	&__buttons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: rem(10);
	}
	// .search__button
	&__button {
		@media (max-width: 1005.98px) {
			margin: 0 auto;
			display: flex;
			margin-top: rem(20);
		}
		
	}
	// .search__body
	&__body {
		background: #ffffff;
		border-radius: rem(8);
		padding: rem(32) rem(62);
		box-shadow: 0px rem(25.697) rem(72.8081) rgba(59, 77, 129, 0.2);
		@media (max-width: 1005.98px) {
			padding: rem(24) rem(40);
		}
		@media (max-width: 549.98px) {
			padding: rem(20) rem(26);
		}
	}
	// .search__form
	&__form {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: rem(60);
		@media (max-width: 1005.98px) {
			display: block;
		}
	}
	
	// .search__inputs
	&__inputs {
		display: grid;
		flex: 1 1 auto;
		grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
		gap: rem(45);
		@media (max-width: 799.98px) {
			row-gap: rem(28);
			column-gap: rem(35);
		}
	}
	// .search__location
	&__location {
		display: flex;
		gap: rem(16);
		flex-direction: column;
		border-right: rem(1) solid #CFD3D6;
		@media (max-width: 1005.98px) {
			border-right: none;
			padding-right: 0;
		}
	}
}
.button {
	// .button_border
	&_border {
	}
	// .button__rent
	&__rent {
	}
	// .button__search
	&__search {
	}
	// .button__sale
	&__sale {
	}
}
.form {
	// .form__label
	&__label {
		font-weight: 600;
		line-height: rem(24);
		color: #2C3A61;
	}
	// .form__select
	&__select {
	}
}
